HOST=0.0.0.0
PORT=4173
DATA_DIR=./data
PUBLIC_SITE_URL=https://bakeaholicbali.com
SESSION_SECRET=replace_with_a_long_random_secret
ADMIN_PASSWORD=replace_with_a_strong_admin_password

GOOGLE_MAPS_API_KEY=your_google_maps_browser_key
BITESHIP_API_KEY=your_biteship_test_or_live_key
BITESHIP_COURIERS=gojek,grab
XENDIT_ENVIRONMENT=test
XENDIT_SECRET_KEY=your_xendit_test_secret_key
XENDIT_CALLBACK_TOKEN=your_xendit_callback_token
WHATSAPP_ACCESS_TOKEN=your_meta_whatsapp_access_token
WHATSAPP_PHONE_NUMBER_ID=your_whatsapp_phone_number_id
WHATSAPP_BUSINESS_ACCOUNT_ID=your_whatsapp_business_account_id
WHATSAPP_VERIFY_TOKEN=your_webhook_verify_token
WHATSAPP_APP_ID=your_meta_app_id
WHATSAPP_APP_SECRET=your_meta_app_secret
WHATSAPP_GRAPH_VERSION=v22.0
WHATSAPP_OTP_TEMPLATE_NAME=otp_verification
WHATSAPP_ORDER_TEMPLATE_NAME=order_status_update
WHATSAPP_RECEIPT_TEMPLATE_NAME=payment_receipt
WHATSAPP_PAYMENT_REMINDER_TEMPLATE_NAME=payment_reminder
WHATSAPP_PAYMENT_EXPIRED_TEMPLATE_NAME=payment_expired
WHATSAPP_ORDER_CANCELLED_TEMPLATE_NAME=order_cancelled
WHATSAPP_SHIPPING_TEMPLATE_NAME=shipping_update
WHATSAPP_ADMIN_NUMBER=6281234567890
WHATSAPP_ADMIN_TEMPLATE_NAME=admin_order_alert
WHATSAPP_ADMIN_SHIPPING_TEMPLATE_NAME=admin_shipping_update
WHATSAPP_TEMPLATE_LANGUAGE=en
