HOST=0.0.0.0
PORT=4173
DATA_DIR=./data

GOOGLE_MAPS_API_KEY=your_google_maps_browser_key
BITESHIP_API_KEY=your_biteship_test_or_live_key
BITESHIP_COURIERS=gojek,grab
MIDTRANS_ENVIRONMENT=sandbox
MIDTRANS_SERVER_KEY=your_midtrans_sandbox_server_key
MIDTRANS_CLIENT_KEY=your_midtrans_sandbox_client_key
WHATSAPP_ACCESS_TOKEN=your_meta_whatsapp_access_token
WHATSAPP_PHONE_NUMBER_ID=your_whatsapp_phone_number_id
WHATSAPP_BUSINESS_ACCOUNT_ID=your_whatsapp_business_account_id
WHATSAPP_VERIFY_TOKEN=your_webhook_verify_token
WHATSAPP_APP_ID=your_meta_app_id
WHATSAPP_APP_SECRET=your_meta_app_secret
WHATSAPP_OTP_TEMPLATE_NAME=otp_verification
WHATSAPP_ORDER_TEMPLATE_NAME=order_status_update
WHATSAPP_TEMPLATE_LANGUAGE=en
